body{
    margin: 0;
    padding: 0;
    height: 100dvh;
    font-family: Arial, sans-serif;
    color: #f2f2f2;
}

.container{
    width: 100%;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 10dvh;
    background-color: #000000;
}

.smartcontrol {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#smart {
    color: #f2f2f2;
}

#control {
    color: #FFE120;
}

.logo img{
    width: 5.8dvh;
    height: 5.8dvh;
}

.logo h1{
    color: #f2f2f2;
    font-size: 2.6rem;
    margin: 0;
    font-weight: 600;
}

.logo svg{
    background-color: #404040;
    border-radius: 1.5dvh;
    margin-right: 1.5dvh;
}

.info{
    height: 15dvh;
    margin-left: 1.5dvh;
    margin-top: 1.5dvh;
    margin-right: 1.5dvh;
    border: 0.2dvh ridge #CCCCCC;
    border-radius: 1.5dvh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    text-align: center;
    color: #000000;
    text-align:justify;
}

.info svg{
    background-color: #FFE120;
    border-radius: 3dvh;
    
    width: 3dvh;
    height: 3dvh;
}

.info >div:not(:last-child) {
    position: relative;
    border-right: none;
}

.info >div:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -25%;
    top: 25%;
    height: 50%;
    width: 1px;
    background-color: #CCCCCC;
}

.energia {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dispositivos {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.temperatura {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.segurança {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

